[2015-05-01 19:12] NTaylorMullen opened #8 "Cannot resolve TagHelperDescriptors for CoreCLR only projects."
For projects that only have a CoreCLR target we can't provide `TagHelper` tooling.

[2015-05-11 22:05] NTaylorMullen opened #9 "When opening a solution, TagHelpers are not lit up for cshtml files previously opened."
If you close a solution with open cshtml files that happen to have `TagHelper`s lit up in them. Reopening that solution will result in the same cshtml file being opened for you, but no TagHelper intellisense.

[2015-05-11 23:11] NTaylorMullen opened #10 "TagHelper tooling does not work with pre-compilation enabled."
Today if a project has pre-compilation enabled with `TagHelper`s contained it "may" not build. I specify "may" because it seems inconsistent for when a binary load exception occurs.

[2015-05-11 23:26] NTaylorMullen opened #11 "Notify editor when TagHelper assemblies have changed."
Today, if a .cshtml is open the editor caches `TagHelperDescriptor`s until that .cshtml is open/closed. We don't want to be constantly loading binaries on every keystroke so we should detect when TagHelper assemblies have changed so it can invalidate its `TagHelperDescriptor` cache.

[2015-05-14 01:01] NTaylorMullen opened #12 "Add VisualStudio Compatibility test to validate serialization/deserialization of data doesn't break."
Once VS ships we'll need to ensure that the Razor contract between the `Microsoft.AspNet.Tooling.Razor` plugin and VS doesn't break. We should add a compatibility test to continuously test this assumption.

[2015-05-14 01:02] NTaylorMullen opened #13 "Add Protocol"
We should add a mechanism to retrieve the current plugins protocol.

[2015-05-19 19:55] #13 closed, assigned to nobody

[2015-06-18 05:25] Eilon opened #16 "VS2015 RTM insta-crash in Razor editor while using custom tag helper"
Scenario / repro:
1. I had an ASP.NET 5 app, plus a separate DNX class lib project with a rather trivial tag helper
2. The tag helper did almost nothing: it had a simple Process method, an int property, and a string property
3. I added `@addTagHelper` to my ViewImports, then tried using the tag helper from a view
4. In the view I typed `<cool my-int="123" my-string=` and when I did that last `=` s

[2015-06-18 06:39] Eilon opened #17 "Double double-quote is added when adding quotes to a non-quoted bound item at the end of a line"
Yes, it's a mouthful.
1. Create a tag helper `<whatever>` that has some bound property, `int Foo { get; set; }`
2. Use this tag helper in a Razor page
3. Have this in the editor:

[code]
1. On the _EMPTY LINE_ type `foo=` and you'll get auto-double-quotes (that's fine)
2. Erase the double quotes and type in `123`
3. Then move the caret between the `=` and the `1` and add either a single quote `'`

[2015-06-19 00:06] #16 closed, assigned to nobody

[2015-06-19 18:52] #17 closed, assigned to nobody

[2015-07-28 18:56] NTaylorMullen opened #18 "Transition test projects to use Razor test source comparers."
Today the RazorTooling test projects utilize the `Microsoft.AspNet.Razor` defined comparers which aren't suited for testing. Now that https://github.com/aspnet/Razor/issues/461 has been completed the test projects can use the same comparers that Razor uses to test its components.

[2015-07-28 22:30] #18 closed, assigned to NTaylorMullen

[2015-08-06 22:22] NTaylorMullen opened #19 "Cannot determine TagHelperDescriptors for dnx46 projects."
We should modify the build targets to include `dotnet` which should fix this.

[2015-09-17 21:57] NTaylorMullen opened #25 "Change TagHelperDescriptor resolution to be invoked via a Program.Main."
Today we rely on the DTH to instantiate the `RazorPlugin` which is then pumped messages. Due to several limitations we've decided to move this logic into a separate process outside of the DTH.

Therefore we should be able to pass in command line arguments to then determine `TagHelperDescriptor`s. Will also need to support protocols.

[2015-09-17 21:58] NTaylorMullen commented on #19
This should be resolved via https://github.com/aspnet/RazorTooling/issues/25 + a WTE tooling change.

[2015-09-17 21:58] NTaylorMullen commented on #11
Designed this out.

[2015-09-17 21:58] #11 closed

[2015-09-17 22:00] NTaylorMullen commented on #8
This should be resolved via https://github.com/aspnet/RazorTooling/issues/25 + a WTE tooling change. Will close issue once everything has been completed/verified.

[2015-09-17 22:00] #8 closed

[2015-09-17 23:22] Eilon commented on #9
@NTaylorMullen please verify this with the latest build.

[2015-09-17 23:22] Eilon commented on #9
If it's still an issue please log a bug in the Tooling repo.

[2015-09-17 23:23] Eilon commented on #10
@pranavkm ,  @NTaylorMullen says you're already working on this.

[2015-09-17 23:27] pranavkm commented on #10
This might likely already be fixed. I just need to verify this.

[2015-09-18 03:27] Eilon commented on #10
Cool.

[2015-09-21 17:37] pranavkm commented on #10
Not seeing issues here with the precompilation changes.

[2015-09-21 17:37] #10 closed

[2015-09-21 17:37] NTaylorMullen commented on #10
:+1:

[2015-09-24 18:02] Eilon commented on #9
@NTaylorMullen can you have a look at this one today to see where the issue might be?

[2015-09-24 18:05] NTaylorMullen commented on #9
This is no longer an issue.

[2015-09-24 18:05] #9 closed

[2015-10-21 17:17] NTaylorMullen opened #29 "Move from using `IAssemblyLoadContext` => `AssemblyLoadContext`"
We're moving Razor assembly loading from `IAssemblyLoadContext` => `AssemblyLoadContext` in MVC. We need to also accomplish this in this repo to ensure `TagHelperDescriptor` assemblies continue to load.

@muratg

[2015-10-21 17:36] muratg commented on #29
:+1:

[2015-10-21 19:26] NTaylorMullen commented on #12
7fc42e16e14feb6b692a2e0f61bbcd05a9b9b110

[2015-10-21 19:26] #12 closed

[2015-10-21 19:26] cesarbs opened #30 "Refactor code to enable testing on CoreCLR"
Add this to test\Microsoft.AspNet.Tooling.Razor.Test\project.json:

    "dnxcore50": {
      "dependencies": {
        "System.Dynamic.Runtime": "4.0.11-beta-*"
      }
    }

Two code changes are necessary:

* In RazorPluginTest.cs, use Type.GetTypeInfo().Assembly instead of Type.Assembly.
* It is not possible to subclass Assembly in CoreCLR. Change the code to use an interface instead of direcly

[2015-10-21 22:05] NTaylorMullen commented on #29
Talked with @davidfowl and this wont be able to make it into RC1 and work. Need to punt this to RC2

[2015-10-28 22:45] NTaylorMullen opened #31 "Remove `-protocol` command line argument."
Today there's two commands that can be executed via the command line.
- `resolve-protocol`
- `resolve-taghelpers`

However, `resolve-taghelpers` can also take in a `protocol` argument to re-resolve the protocol. This isn't needed and should be removed. On removing it we should barf in the case that an invalid Protocol is provided.

[2015-10-29 17:02] NTaylorMullen commented on #31
/cc @Eilon @danroth27 it'd be good to clean this up for rc2 (not a large change).

[2015-10-29 23:39] NTaylorMullen commented on #31
Talked with @Eilon in person.

[2015-11-04 22:03] NTaylorMullen commented on #31
b3874ce185e9a6056f71b3d35afa1a8c7733cc69

[2015-11-04 22:03] #31 closed

[2015-11-11 19:48] NTaylorMullen commented on #25
This issue should be treated as "remove the ability for the Razor tooling package to be invoked via DTH plugins".

[2015-11-11 19:49] NTaylorMullen commented on #19
This was done for rc1 in tooling. @ajaybhargavb please re-open if you see otherwise.

[2015-11-11 19:49] #19 closed

[2015-12-02 16:27] IlyaKhD opened #35 "resolve-taghelper performance issue"
Each time a .cshtml file is reopened in VisualStuido 2015 a new process created:

`Microsoft.Dnx.ApplicationHost Microsoft.AspNet.Tooling.Razor resolve-taghelpers --protocol 1 Microsoft.AspNet.Mvc.Razor <OtherTagHelperAssemblies>`

While it is being executed the Intellisense doesn't work (this brings some annoying inconvenience), and for some reason this process takes much more time for documented

[2015-12-02 17:20] IlyaKhD commented on #35
The thing is hidden in AspNet/Razor.
Documentation file is read each time a `DocumentationDescriptor` is built, though while resolving `TagHelpers` this file could be loaded for each assembly only once.

The issue is illustrated here: https://github.com/IlyaKhD/Razor/commit/db7d1a5b4860fe3e5ef19bc889cd3f37e0f812c0

This is not a fix, of course, put caching brings me from 21 sec to 5sec, which is 4

[2015-12-02 19:15] NTaylorMullen commented on #35
@IlyaKhD thanks for the investigation! I've looked at your branch and profiled it and it turns out the `System.Xml.Linq.XDocument` calls we're performing are slowing the system down considerably.

Caching is definitely the correct fix for this in Razor! Would you mind filing an issue on aspnet/Razor/issues for this? We'll definitely fix this for RC2.

[2015-12-03 09:33] IlyaKhD commented on #35
I've filed a new issue: https://github.com/aspnet/Razor/issues/630

Btw, what I mean by 'this is not a fix' is that there several classes which could be responsible for caching an assembly documentation file, so I'm not quite sure this fix is an appropriate one.

[2015-12-03 13:54] IlyaKhD opened #36 "TagHelpers documentation is not loaded if project is a part of a solution"
If TagHelpers lib is a part of a solution its documentation file (that is required to build DocumentationDescriptor  for the Intellisense) is not loaded.

See the `CreateDocumentationDescriptor` method of the [TagHelperDesignTimeDescriptorFactory](https://github.com/aspnet/Razor/blob/b1ad14fd46c50d6613a5d9dc691cefbe21516e0e/src/Microsoft.AspNet.Razor.Runtime/Runtime/TagHelpers/TagHelperDesignTimeD

[2015-12-03 16:13] NTaylorMullen commented on #36
@IlyaKhD yup, this is currently by design. When in VisualStudio the assemblies loaded are in memory when they correspond to a user project. Due to this, their corresponding XML files aren't written out. They're managed by something called the design time host (DTH) which is used to enable the VisualStudio experience.

If we wanted to add user project consumption with how the DTH works today we'd h

[2015-12-03 16:20] NTaylorMullen commented on #35
Thanks @IlyaKhD! Awesome bug/follow up. In the end there's just not enough high volume `TagHelper` uses out there quite yet so what you reported is super valuable :smile:

Closing since you created a Razor issue.

[2015-12-03 16:20] #35 closed

[2015-12-04 10:29] IlyaKhD commented on #36
Thanks, it is now clear for me.

[2015-12-04 13:03] #36 closed

[2015-12-08 22:31] NTaylorMullen commented on #30
Going to complete https://github.com/aspnet/RazorTooling/issues/25 prior to this since the code will be drastically changing

[2015-12-09 23:43] NTaylorMullen commented on #25
3b920e0ae8d87e0356828ab5008dfcd3dcf62f41
e33e929d306adb943f0bd5cce982c8c9ff294f7e

[2015-12-09 23:43] #25 closed

[2015-12-14 23:21] NTaylorMullen commented on #30
5a469ade43e1747bffa034ff19e3be69e01e2a31

[2015-12-14 23:21] #30 closed

[2015-12-17 22:41] NTaylorMullen commented on #29
3de479b156c2bf9822735472fd5d2d348485de41

[2015-12-17 22:41] #29 closed

[2016-01-12 17:39] victorhurdugaci opened #41 "Change to build to use dotnet"
At a minimum, you have to upgrade a few scripts and project.json files just like here: aspnet/Configuration@9cfd22f

cc @pranavkm @NTaylorMullen

[2016-01-26 23:21] NTaylorMullen opened #43 "Transition to new Dotnet CLI tooling format."
Right now we generate an exe called `Microsoft.AspNet.Tooling.Razor` that's eventually run by DNX. As part of the move to use dotnet CLI we need to transition the exe to be usable via the new `tools` node in `project.json`.

[2016-01-27 18:13] #41 closed

[2016-02-10 23:02] NTaylorMullen commented on #43
20fe1c277d081933f44b986f03c098368b06d2c2

[2016-02-10 23:02] #43 closed

[2016-03-07 07:21] victorhurdugaci opened #47 "Pasting bad code over bad code crashes VS"
1. Create a new web application (no authentication)
2. Open the `Home/Index` view and paste this code (ignore any compilation errors):
[code]

3. Save
4. Copy the code below

[code]

5. Go back to the view
6. Select all
7. Paste

Result: VS crashes

VS version: 14.0.23107.0 D14REL
Tooling: 14.1.11116.0

[2016-03-07 17:02] BillHiebert commented on #47
@victorhurdugaci - can you get dmp file?

[2016-03-07 17:03] victorhurdugaci commented on #47
Sure, if you tell me how to do it :)

[2016-03-07 18:38] NTaylorMullen commented on #47
Note: This probably should be moved to the aspnet/Tooling repo.

[2016-03-08 23:53] NTaylorMullen opened #48 "Add ability to specify output path when looking for TagHelper assemblies."
Once [this](https://github.com/dotnet/cli/commit/2f2b3df35be7924c0fb96878a9f45a1efb6598a7) commit has flowed through the dotnet/cli build system we'll need to update `ResolveTagHelpersCommand` to require an output path when creating an assembly load context.

[2016-03-08 23:54] NTaylorMullen commented on #48
/cc @Eilon @danroth27 this is needed for tooling.

[2016-03-08 23:58] NTaylorMullen opened #49 "Consume first TFM when resolving TagHelperDescriptors."
Today we have the ability to specify a TFM when resolving `TagHelperDescriptor`s. The problem with this approach is that the Razor editor does not have this capability. Instead it always picks the first TFM when showcasing C# intellisense.

A second part of what we currently do today is if a user has a `project.json` file with a TFM such as `netstandardapp1.5` the `TargetFramework` identifier acco

[2016-03-09 00:45] NTaylorMullen commented on #49
c39218ff04464dd83ada45432b42dc561ac086da

[2016-03-09 00:45] #49 closed

[2016-03-13 21:09] Eilon commented on #47
@victorhurdugaci can you move to https://github.com/aspnet/Tooling/issues/ and close this?

[2016-03-13 22:54] #47 closed

[2016-03-29 19:09] NTaylorMullen commented on #48
https://github.com/aspnet/RazorTooling/commit/2999b758ec1abc1e65555db982362c38c65d5a8d

[2016-03-29 19:09] #48 closed

[2016-04-04 18:57] NTaylorMullen opened #55 "Support .NET Framework-only projects"
Currently, in order to use the .NET Core CLI razor-tooling commands, your project must target a .NET Core-compatible framework. We could remove this requirement by starting a new net451 process to execute the commands in this case.

Currently blocked on dotnet/cli#2126

[2016-04-04 18:58] NTaylorMullen commented on #55
/cc @Eilon @danroth27 @DamianEdwards

This is equivalent to the EF issue [here](https://github.com/aspnet/EntityFramework/issues/4577).

[2016-04-11 23:12] NTaylorMullen opened #58 "Change RazorTooling to target netcoreapp1.0"
Currently RazorTooling targets `netstandard1.5` because it's better supported in dotnet (`netcoreapp1.0` has bugs). Once the `netcoreapp1.0` bugs are sorted out we should transition the tool over to `netcoreapp1.0`

[2016-04-14 22:30] NTaylorMullen opened #59 "Add ability to specify if TagHelperDescriptors should be resolved in design time or runtime."
Today `TagHelperDescriptor`s are always resolved as if it were design time. It could be useful to enable overriding that functionality.

[2016-04-18 18:44] NTaylorMullen opened #62 "Create end-to-end functional test to validate dotnet-razor-tooling functionality."
Command line applications today are not easy to test. Also, with the recently added dispatch logic testing is even more difficult. Nevertheless we should still create an end-to-end functional test to ensure we don't regress anything. It will do:

1. Pack dotnet-razor-tooling
1. Build a local package directory to use for the test
1. dotnet restore the test project
1. dotnet build the test project
1

[2016-04-18 21:53] Eilon commented on #59
Useful for what?

[2016-04-18 21:57] NTaylorMullen commented on #59
It could enable you to pre-determine `TagHelperDescriptor`s for an application at runtime. In general it's just for flexibility. The ability for any tool to determine `TagHelperDescriptor`s on any platform without having to spin up entire websites to do the work.

[2016-04-18 23:20] Eilon commented on #59
🌘

[2016-04-18 23:20] #59 closed

[2016-04-21 18:56] NTaylorMullen commented on #58
6a59d9d3d157be7e13f75fba2c8c56b7de0fec59

[2016-04-21 18:56] #58 closed

[2016-04-26 18:22] NTaylorMullen commented on #55
d9fe7936c382980f02f163849237b9ced3c04395

[2016-04-26 18:22] #55 closed

[2016-05-05 00:07] NTaylorMullen opened #68 "Dispatch does not handle multiple assembly name arguments."
Currently if one calls `dotnet razor-tooling resolve-taghelpers ./project.json AssemlyName1 AssemblyName2`  the dispatch command only receives the first assembly name.

[2016-05-05 07:34] NTaylorMullen commented on #68
f2be140060a6d356647d28ff9a610a35feaa9a19

[2016-05-05 07:34] #68 closed

[2016-05-06 00:12] NTaylorMullen opened #70 "Enable RazorTooling to resolve TagHelpers for non-desktop, package assemblies."
Currently RazorTooling requires a project to be built before any TagHelpers can be resolved. However, if we check if the assembly requested to be resolved is not desktop and is a package with a package-only graph then we can create a load context without having to dispatch to the inside-man. Aka, we wouldn't need to build.

[2016-05-09 20:47] Eilon commented on #70
@DamianEdwards do you want this for v1? It's ultimately a tooling thing so we have a bit more time than runtime v1.

[2016-05-09 20:51] DamianEdwards commented on #70
Yes, we need to solve this for v1 tooling.

[2016-05-09 21:47] Eilon commented on #70
Ok, putting in a `1.0.1` milestone for now.

[2016-05-13 17:57] NTaylorMullen opened #72 "dotnet-razor-tooling.exe cannot be invoked with 32bit dotnet.exe"
Currently `dotnet-razor-tooling.exe` is only ever built for x64; we need to do what `dotnet-test-xunit` does and compile for anycpu.

[2016-05-16 22:52] NTaylorMullen commented on #72
c998cee9caf321bc611b979f94d749b030571e3a

[2016-05-16 22:52] #72 closed

[2016-05-22 01:09] Eilon commented on #62
Moving to 1.0.1

[2016-05-22 22:02] Eilon opened #74 "Clean up package metadata and pre-Core references"
# NuGet package metadata
The `project.json` file of every shipping NuGet package has two properties that must be non-empty:
1. description
2. tags

## Description guidance

Description should be at least something like this:
  "description": "ASP.NET Core MVC view rendering features. Contains common types used in most MVC applications as well as view rendering features such as view engines, views,

[2016-05-24 23:56] NTaylorMullen commented on #70
cae1d5ac2546d8bbe05cb8b1516f6c08ad0f89b9

[2016-05-24 23:56] #70 closed

[2016-05-27 17:41] NTaylorMullen commented on #74
540b902d905d12d85e9a8a20070171af0db56d80

[2016-05-27 17:41] #74 closed

[2016-05-29 03:52] diryboy opened #78 "Incorrect colorization and stalled parsing after line movement."
I'm using VS2015 Update2, with asp.net core RC2 and razor tooling preview 1 on Windows 10 x64.

1. Create project from the ASP.NET Core Web Application (.NET Core) -> Web Application template.
1. Build
1. Open Views/Account/ConfirmEmail.cshtml
1. Place caret on line 8 ("Thank you for...")
1. Hit <kbd>Alt</kbd> + <kbd>Up</kbd>
1. **Color for the `<a asp-for=..` gone**, expected same color.
1. Hit <

[2016-05-31 19:15] NTaylorMullen commented on #78
Hahaha, awesome issue :+1:. Moving this over to tooling. I could repro it on my end as well.

[2016-05-31 19:15] NTaylorMullen commented on #78
This issue was moved to aspnet/Tooling#547

[2016-05-31 19:15] #78 closed

[2016-05-31 23:41] diryboy commented on #78
Thank you, out of curiosity, could you briefly tell me what this repo mainly about? I couldn't even get the tag helper color working without the razor tools package in project.json.

[2016-05-31 23:46] NTaylorMullen commented on #78
This package only enables TagHelper IntelliSense info gathering. Visual Studio then consumes the output of this repo and then turns it into the nice purply IntelliSense wonderfulness :smile:.

[2016-06-01 00:18] diryboy commented on #78
Ah, I see. Thank you.

[2016-06-06 18:17] NTaylorMullen opened #80 "Separate inside man functionality into its own package."
Currently the tool has logic inside it to determine if it's the inside man; instead of this approach we should separate that differentiation by project.

`Microsoft.AspNetCore.Razor.Design`.

[2016-06-07 22:57] NTaylorMullen commented on #62
Gonna wait to complete this one until [this](https://github.com/aspnet/RazorTooling/issues/80) has been completed.

[2016-06-09 18:55] NTaylorMullen opened #83 "CreateLoadContext doesn't accept command line configuration value."
In the end this has no functional impact as of today on how the tool runs but for futureproofness we should flow the passed in configuration to CreateLoadContext.

[Today we just assume Debug](https://github.com/aspnet/RazorTooling/blob/c2aff686b4397fb506338e3ebc31bff9b5523808/src/Microsoft.AspNetCore.Razor.Tools/Internal/PackageOnlyResolveTagHelpersRunCommand.cs#L82).

[2016-06-21 18:16] NTaylorMullen commented on #83
302ba3f85c45f3b5c8ee511d2982d09c28baab8e

[2016-06-21 18:16] #83 closed

[2016-06-21 19:38] NTaylorMullen commented on #80
/cc @danroth27 / @Eilon for triage

[2016-06-28 22:56] NTaylorMullen commented on #80
d9dfc2a6ac81963d85c8c66f1e501f4a008da080

[2016-06-28 22:56] #80 closed

[2016-07-04 17:52] NoneGiven opened #89 "TagHelper with no end tag: parsing issues"
Create a TagHelper with WithoutEndTag structure:

[code]

Create a Razor view that uses it inside a C# `if` block:

[code]

Razor reports two incorrect errors, the first one on the tag helper element:
`The "msg-helper" element was not closed. All elements must either be self-closing or have a matching end tag.`

And the second on the closing <html> tag:
`Encountered end tag "html" with no matching

[2016-07-05 20:37] Eilon commented on #89
I believe this is failing at the parser stage, which is well before any tag helpers happen.

I believe this issue happens because Razor doesn't know where the tag starts and ends - it doesn't know about tag helpers.

You need to wrap the `<msg-helper .... >` tag in the `<text> ... </text>` pseudo-tag to tell Razor where the HTML begins and ends.

[code]

The Razor parser knows just a bit about HTM

[2016-07-05 20:37] Eilon commented on #89
@NTaylorMullen @DamianEdwards can you confirm if my statement is all there is to it?

[2016-07-05 20:50] DamianEdwards commented on #89
You can just make the element self-closing (like the error message says):
[code]

[2016-07-05 22:10] #89 closed

[2016-07-18 02:43] endink opened #91 "how can i use taghelper IntelliSense for a aspnet core library project?"
in the library project, I use this config in project.json:

[code]

but it doesn't work, how to use InterlliSense for a RazorView in Library project?
something like:

[code]

[2016-07-18 17:32] Eilon commented on #91
@endink so you have a .NET Core class library project with some CSHTML files in it and you want tag helper IntelliSense?

@NTaylorMullen @DamianEdwards is this supposed to work?

[2016-07-18 17:58] NTaylorMullen commented on #91
This currently isn't supported in the VS side of things or in the Razor tooling side of things. As for the question for if this should work. We do support the ability for a user to embed Razor files in a library and then compile them at runtime assuming a user has a custom file provider; therefore, I'd say we should shoot to make this work eventually.

[2016-08-02 17:00] NTaylorMullen commented on #62
1cc4498a933c562c411be4094277ec87cb51f221

[2016-08-02 17:00] #62 closed

[2016-08-16 14:59] jsouthron opened #93 "*.cshtml files do not update without building project"
In my project razor files are not being updated in the browser without recompiling the project.

Is this expected behavior, or am I doing something wrong on my side?  This is supremely frustrating.  I am sure I am missing something minor, but it also appears to be default behavior in a new MVC project.

{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0",
      "type": "p

[2016-08-16 16:55] NTaylorMullen commented on #93
@jsouthron Are you setting your content root correctly (`Directory.GetCurrentDirectory()` in most circumstances) in your Program main?

[2016-08-16 17:05] jsouthron commented on #93
Here is my Program.cs

[code]

[2016-08-16 17:24] NTaylorMullen commented on #93
@jsouthron that looks correct. MVC should be picking up on Razor cshtml file changes when they change. Could you provide a simple repro project for me to look at?

[2016-08-16 17:28] jsouthron commented on #93
[src.zip](https://github.com/aspnet/RazorTooling/files/420895/src.zip)

[2016-08-16 17:29] jsouthron commented on #93
I provided a copy.  However, this happens on every project I have, even out of the box aspnet core sites.

[2016-08-16 17:39] NTaylorMullen commented on #93
@jsouthron Hmmm. That project you sent me works on my end. The flow I did was:
1. Go to the FamilyPortal.Web folder.
2. `dotnet run`
3. Open http://localhost:5000/Home/Contact
4. Change Contact.cshtml to have a few exclamation points after `One Microsoft Way`.
5. Refresh http://localhost:5000/Home/Contact
6. See changes reflected in browser.

[2016-08-16 17:40] jsouthron commented on #93
Could this be an environment issue?  Do you have any recommended steps for me to troubleshoot my tooling and/or VS 2015?

[2016-08-16 17:42] NTaylorMullen commented on #93
This should not be tooling related. The steps I would take would be:
1. Delete your `%UserProfile%/.nuget/packages` folder
2. Delete your `%LocalAppData%/nuget/v3-cache` folder
3. Open up a new instance of Visual Studio and do File => New Web Application
4. Run the app/do the flow to verify if modifying a cshtml file works.

[2016-08-16 17:57] jsouthron commented on #93
This does not resolve the issue.  The files do not show changes.  Here is the project.json of the new project I created.

[code]

[2016-08-16 18:14] NTaylorMullen commented on #93
Hmm, so MVC uses the IFileProvider that's registered to watch the View files that are returned and then based on the watch events chooses to recompile the views. This leads me to beleive that file watchers on your box are different somehow.
- Are you running the application in any uniquish type of environment?
- What happens if you try to use the registered IFileProvider to watch a random file and

[2016-08-16 18:16] jsouthron commented on #93
dotnet info below.  I am running Windows 10 on Parellel Desktop on a MacBook Pro.  How can run the IFileProvider test you suggested?

[code]

[2016-08-16 18:28] NTaylorMullen commented on #93
New class:

[code]

Register it as a singleton in `Startup.ConfigureServices`: `services.AddSingleton<Foo>();`

Use it in a view:

[code]
- Ctrl + F5 the application
- Let homepage load
- Go to the view you requested, change it
- Wait for Debugger dialog to launch. (hopefully it does)

[2016-08-16 18:29] jsouthron commented on #93
I have discovered that if move the project to the C:\ drive rather than run it from the shared \mac drive, it works fine.  The way that Parallel desktop maps the drives is by mounting network drives in the Windows VM.  I will run this test see if it gives me a detailed permission error.

[2016-08-16 18:38] jsouthron commented on #93
ran the test you suggested above, the debugger did not launch.

[2016-08-16 18:46] NTaylorMullen commented on #93
I'd recommend filing an issue on the aspnet/FileSystem repo for your scenario. Maybe there's a work around or a fix that can be done in the interim (other than moving the location of your project).

[2016-08-22 00:05] JunTaoLuo opened #94 "Restore fails on CI test"
Similar to https://github.com/aspnet/MvcPrecompilation/issues/3.
The custom `repo-initialize` target does not take into account the fact that the `src` folder is deleted when we are running tests on the CI. We delete the `src` folders to skip rebuilding the packages but that also means the tests will fail during this step: https://github.com/aspnet/RazorTooling/blob/dev/makefile.shade#L30.

[2016-08-22 00:05] JunTaoLuo commented on #94
cc @pranavkm @NTaylorMullen

[2016-08-22 19:12] pranavkm commented on #94
I added this repo to the no-src-exclude thing. This should fix this issue for now.

[2016-08-26 23:12] ajaybhargavb opened #95 "Non-string taghelper attribute value containing @@ is not recognized as code"
Related issue - https://github.com/aspnet/Razor/issues/819

For non-string tag helper attributes, I'd expect the `@@DateTime.Now` to be recognized as code
![image](https://cloud.githubusercontent.com/assets/1579269/18022829/1c6a0db2-6ba7-11e6-9d33-c5b63058872b.png)

It works as expected for other cases like,
![image](https://cloud.githubusercontent.com/assets/1579269/18022856/7b2a92b8-6ba7-11e6-8d

[2016-09-08 16:44] muratg opened #97 "Msbuildify tools"
### Microsoft.AspNetCore.Razor.Tools
- Expect to run in the IDE
- Runtime dependencies/Load Context thingy
- Including type (project, package, etc.)
- TargetPath
### TODO
- Fork tools repos to `rel/1.0.0-preview3` branches for "October" release. Dev branches will continue to be used for 1.1 release.
- Use desktop msbuild to start our work until the new msbuild is ready for   consumption
### Notes

[2016-09-28 23:33] ajaybhargavb opened #100 "Remove ViewComponent tag helper workaround when VS packages are updated"
PR #99 is a workaround to make design time for ViewComponent tag helpers work without needing VS update. Once VS packages are updated, this workaround is no longer needed.

cc @NTaylorMullen @Eilon

[2016-10-02 09:13] pksorensen commented on #93
I just tested this also and my debugger did not launch. I am not on a shared drive. Wonder if there is more we can do to find out why the watcher do not fire

[2016-10-02 09:30] pksorensen commented on #93
I figured it out. I was playing with the featureslides example and had

[code]

which means that {2} is empty and it will resolve to areas//, where the double slash  is the issue. correcting to following solved the problem.

[code]

if using the Foo test, you can do `@Path.Replace("//","/")` and the debugger will show.

[2016-10-17 17:14] Eilon commented on #94
@pranavkm anything left to do here?

[2016-10-17 17:14] Eilon commented on #95
We moved https://github.com/aspnet/Razor/issues/819 to Backlog, so I'm assuming we need to move this as well. Doesn't seem critical.

[2016-10-17 17:15] NTaylorMullen commented on #95
Sounds good.

[2016-10-17 17:17] Eilon commented on #100
@ajaybhargavb @NTaylorMullen when theoretically can we do this? That is, at what time do we expect "the VS packages to be updated"?

[2016-10-17 17:18] Eilon commented on #93
@jsouthron @pksorensen did you both figure it out? Can we close this issue? Or are you still seeing problems on this issue?

[2016-10-17 17:18] pranavkm commented on #94
Nope

[2016-10-17 17:18] #94 closed, assigned to pranavkm

[2016-10-17 17:21] NTaylorMullen commented on #100
@Eilon when a new WTE is shipped 😄

[2016-10-17 17:26] Eilon commented on #100
Assigning to @ajaybhargavb to remove ONCE we have a new WTE that has the new bits.

[2016-10-17 19:10] AbubakerB opened #103 "Intellisense from output folder"
Hi guys,

I don't know if this is the correct place to raise this but I'm trying to get intellisense from razor files in non-web projects and its just not working.
I'm using tools like RazorEngine/RazorTemplate/RazorLight and the only way to get intellisense is to copy their dlls to the \bin folder. I read that the reason for this is because VS only looks at the \bin directory because, of course,

[2016-10-17 20:11] jsouthron commented on #93
Yes please close the issue.  On my machine it was related to the use of
parallels desktop on a MacBook Pro.  Solution was to move the files to a
non shared drive.

Apparently vm drives are treated just as network drives in the file watcher.

On Monday, October 17, 2016, Eilon Lipton notifications@github.com wrote:

##
- Joe Southron

[2016-10-17 20:36] Eilon commented on #93
Thanks!

[2016-10-17 20:36] #93 closed, assigned to nobody

[2016-10-17 21:28] NTaylorMullen commented on #103
@AbubakerB there currently is not a way to do this by default for non-web projects. Sorry that there's not a better answer 😢

[2016-10-17 21:41] AbubakerB commented on #103
That's alright, thanks for the response.
Would it be possible to make this work for the upcoming VS "15"?

[2016-10-17 21:58] NTaylorMullen commented on #103
We're currently rethinking the way the Razor editor works and have started prototyping. In this "new" world having support for class libraries would definitely be something on our radar.

[2016-10-17 22:07] AbubakerB commented on #103
Awesome! Looking forward to it!

[2016-10-20 23:20] NTaylorMullen opened #105 "Add DotnetCliTool package type."
This is required for preview3 but requires a bit of a hack to get it working with the current CLI.

The hack being [adding a nuspec](https://github.com/aspnet/DotNetTools/blob/c7ff19c28534c68875d041a73c36de07faa3566f/src/Microsoft.DotNet.Watcher.Tools/Microsoft.DotNet.Watcher.Tools.nuspec).

[2016-10-26 19:06] ajaybhargavb opened #106 "Depend on 1.0.0-* version of Razor.Runtime instead of 1.1.0-*"
This will also break the ViewComponent TagHelperDescriptor discovery https://github.com/aspnet/RazorTooling/commit/a3fd998ba3bf22266db9aa046906590e36080506#diff-5de421fe9dfadf9e6e788e958e9b3ed5R95. We can use reflection to workaround it.

cc' @NTaylorMullen @Eilon

[2016-10-27 00:02] ajaybhargavb commented on #100
Related issue https://github.com/aspnet/RazorTooling/issues/106

[2016-10-27 16:00] jrcpereira commented on #91
If you want intellisense you can give Re-Sharper a try, since it gives custom tags and attributes intellisense.
The only thing missing is the purple and bold aspect of taghelpers, which I kind of get used to...

Is this likely to be added in future releases?

Thanks!

[2016-10-27 17:19] NTaylorMullen commented on #91
That's our goal 😄

[2016-10-27 18:56] ajaybhargavb commented on #106
2b7ac7dff1c0982c494c81f6da7292b722854664 and aspnet/Common@a7cd68ed5ecb4d10f8d199e2c2c315ffdd477ea3

[2016-10-27 18:56] #106 closed, assigned to ajaybhargavb

[2016-10-28 19:06] ajaybhargavb opened #109 "Add tests that target the latest version of Razor.Runtime"
From https://github.com/aspnet/RazorTooling/pull/108#discussion_r85584480

We changed the tool to target 1.0.0 version of razor runtime. We need tests that target both 1.0.0 and 1.1.0-\* versions of Razor.Runtime to make sure the tool works in both cases.

[2016-11-01 20:43] KLuuKer opened #111 "internal methods are not detected as internal and end up as runtime compile errors"
when using internal methods\classes\etc they are handled just like normal public methods in vs tooling
when it really should say that it's internal and cannot be used in the view

**MyView.cshtml**
[code]
**MyClass.cs**
[code]

the same issue also occurs when trying to use extensions methods inside the view like
[code]

using RazorTooling 1.0.0-preview3-final

[2016-11-02 17:17] NTaylorMullen opened #112 "Bundle deps.json to future proof RazorTooling"
In coming releases of NuGet they'll be utilizing the deps.json to properly restore tools. We should bundle the deps.json early to ensure the tool continues to work.

[2016-11-07 19:38] NTaylorMullen commented on #97
Taking a different approach to RazorTooling. Will be utilizing Razor server to do the tooling work.

[2016-11-07 19:38] #97 closed, assigned to NTaylorMullen

[2016-11-27 04:28] Eilon commented on #112
@NTaylorMullen @natemcmaster @muratg what's the timeline for getting this in? Taylor is OOF until Friday, so if more urgent than that, we'll need another person to handle this.

[2016-11-27 04:29] Eilon commented on #111
@NTaylorMullen @rynowak @ToddGrun thoughts on this? Does this have to do with how Razor documents are opened in the editor? And would this be fixed with Razor-evolution?

[2016-11-28 05:47] NTaylorMullen commented on #111
@Eilon this is definitely due to how the VS tooling bits are representing the Razor project with Roslyn. At runtime the Razor view is considered its own assembly and at tooling time it seems that it's being treated as part of the same assembly as the users project.

Depending on how the Razor-evolution bits integrate with VS it may or may not fix the problem. We've yet to delve into who will be re

[2016-11-28 05:52] NTaylorMullen commented on #112
Are the CLI folks shipping new versions of CLI that work with `project.json` that also require the deps.json? If so we'll need to complete this issue. Otherwise, this issue doesn't matter because the Razor tooling doesn't work with MSBuild based projects.

[2016-11-28 07:27] Eilon commented on #111
Where's the right place to track this bug?

[2016-11-28 07:31] Eilon commented on #112
Oh, right, this Razor Tooling is going away in its current form... I'm guessing the answer to your question is that there wouldn't be such a CLI. @natemcmaster is that your understanding?

[2016-11-28 08:17] NTaylorMullen commented on #111
This issue was moved to aspnet/Tooling#883

[2016-11-28 08:17] #111 closed, assigned to nobody

[2016-11-28 16:34] natemcmaster commented on #112
Yes, that was my understanding as well.

[2016-11-28 18:49] Eilon commented on #112
Ok, then closing this. Thanks!

[2016-11-28 18:49] #112 closed, assigned to NTaylorMullen

[2016-11-30 03:14] MisterJames opened #114 "Question: Can I View Generated Source From Precompiled Views?"
I am looking for a way to inspect the source of the view classes, post-compilation.

From the DLL that is generated, when I try to look at it with a decompiler it says it's not a valid DLL (tried this with Telerik JustDecompile).

I was looking for a way to perhaps write the source to disk or some other way to drill in. I was going to try to follow the code path, but RazorTooling doesn't build aft

[2016-12-05 23:13] NTaylorMullen commented on #114
Answered via twitter convo: https://twitter.com/ntaylormullen/status/805853661792444418

[2016-12-05 23:13] #114 closed, assigned to nobody

[2016-12-08 08:49] Bartmax opened #115 "Views names are Case-Sensitive when precompiled but not at development time."
[code]
with a file called `Myview.cshtml` will work with no problem on Windows in development.

it will fail on publish.

Maybe it would be good to enforce case-sensitive when loading views from disk ?

[2016-12-08 18:42] NTaylorMullen commented on #115
This issue was moved to aspnet/MvcPrecompilation#42

[2016-12-08 18:42] #115 closed, assigned to nobody

[2016-12-19 18:41] NTaylorMullen commented on #105
Don't need this beauty

[2016-12-19 18:41] #105 closed, assigned to nobody

[2017-01-17 21:45] vankampenp opened #116 "Razor Tag Intellisense disappears"
### Title
Razor Tag Intellisense disappears when upgrading to  "1.1.0-preview4-final"

### Functional impact
Razor Tag intellisense disappears, and cannot be restored for the existing project.

### Minimal repro steps
1. Create a new ASP.NET Core Project. Select ASP.NET Core Web Application (.NET Framework)
2. Choose No authentication
3. Build the web application
4. In a view type <a asp // notice

[2017-02-02 19:39] natemcmaster opened #117 "Upgrade to VS 2017"

[2017-02-02 20:33] NTaylorMullen commented on #117
Don't need to do this. We're no longer building this repo

[2017-02-02 20:34] natemcmaster commented on #117
Has it been removed from Universe?

[2017-02-02 20:34] natemcmaster commented on #117
Nvm. https://github.com/aspnet/Universe/pull/471

[2017-02-02 20:34] #117 closed, assigned to nobody

[2017-03-04 19:03] Eilon commented on #116
@vankampenp sorry for the delay responding to you. Are you using VS2015 or VS2017?

It sounds to me like you're using VS2017, in which case we had to temporarily remove tag helper Intellisense due to time constraints, but we are working on bringing it back as soon as possible. We plan to have a preview download of a tag helper Intellisense add-in that will restore this behavior in VS2017, and it w

[2017-03-05 06:46] vankampenp commented on #116
Hi, I am using VS2015

[2017-03-07 21:46] Eilon commented on #116
@NTaylorMullen any thoughts on this?

[2017-03-08 00:21] NTaylorMullen commented on #116
The reason why this is happening is when you uninstall the `Microsoft.AspNetCore.Razor.Tools` it nukes the `dependencies` section reference and the `tools` section reference. Then upon re-installing the package it only goes into the `dependencies` section. If you are to re-add: `"Microsoft.AspNetCore.Razor.Tools": "1.1.0-preview4-final"` to the `tools` section all continues to work.

[2017-03-08 00:42] #116 closed, assigned to nobody

[2017-03-21 18:10] ajaybhargavb commented on #100
Can this be closed as this is no longer applicable?

[2017-03-21 18:15] NTaylorMullen commented on #100
We aren't maintaining this repo anymore so I'd say we could close everything here 😄. That's up to @Eilon though.

[2017-03-21 18:21] #100 closed, assigned to ajaybhargavb

[2017-03-28 17:41] Eilon commented on #109
This issue was moved to aspnet/Razor#1133

[2017-03-28 17:41] #109 closed, assigned to nobody

[2017-03-28 17:41] Eilon commented on #103
This issue was moved to aspnet/Razor#1134

[2017-03-28 17:41] #103 closed, assigned to nobody

[2017-03-28 17:41] Eilon commented on #95
This issue was moved to aspnet/Razor#1135

[2017-03-28 17:41] #95 closed, assigned to nobody

[2017-03-28 17:41] Eilon commented on #91
This issue was moved to aspnet/Razor#1136

[2017-03-28 17:41] #91 closed

[2018-04-23 13:28] KhalilMohammad opened #121 "IRazorViewEngine does not pick updated cshtml"
I am converting cshtml to pdf.
I am using IRazorViewEngine.
IRazorViewEngine is picking old view.
Dotnet watch does not work for this scenario.
Is there any work around, I have multiple cshtml to work on

[2018-04-23 14:05] KhalilMohammad commented on #121
I am using [RazorViewToStringRenderer](https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.RenderViewToString/RazorViewToStringRenderer.cs)

[2018-04-23 16:51] mkArtakMSFT commented on #121
Thanks for contacting us, @KhalilMohammad.
@NTaylorMullen , can you please look into this one? Thanks!

[2018-04-23 17:21] NTaylorMullen commented on #121
@KhalilMohammad how are you using RazorViewToStringRenderer? Aka, are you lifting that method directly into your site? That samples normal usage scenario is run once and then it goes away (an exe) so i'll need more context 😄

[2018-04-23 19:26] KhalilMohammad commented on #121
I use this generate pdf from html.
In production ,It will be run once.
In development, I need to change html to get perfect alignment.

[2018-04-25 16:48] mkArtakMSFT commented on #121
@KhalilMohammad, can you please provide a repro project to simplify the investigation?

[2018-04-25 16:50] mkArtakMSFT commented on #121
This issue was moved to aspnet/Razor#2305

[2018-04-25 16:50] #121 closed, assigned to NTaylorMullen